body {
    background:pink;
    display:flex;
    justify-content:center;
}



#container {
    width: 800px;
    height:800px;
    margin-top:50px;
    background:black;
    display:flex;
}


.squareDiv {
    box-sizing:border-box;
    border: 1px solid white;
}